@font-face {
    font-family: openSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: openSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: openSansExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: openSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: openSansSemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

html,body{
    font-family: openSansRegular;
}

.goldTitle{
    font-family: openSansRegular;
}

#ext-toolbar-1{
    background-color:#4D3462;
    background-image: none !important;
}
#ext-toolbar-2{
    background-color:#4D3462;
    background-image: none !important;
}
/*--- buttons ---*/
#ext-toolbar-1 .x-button-normal{
    background-color:#4D3462;
    border:0px;
}
/*-------------------------- FIX THIS!!!!!!!----------------------------*/
#ext-toolbar-2 .x-button-normal{
    background-color:#4D3462;
    border:0px;
}

#ext-toolbar-3 .x-button-normal{
    background-color:#4D3462;
    border:0px;
}

#ext-toolbar-4 .x-button-normal{
    background-color:#4D3462;
    border:0px;
}

#ext-toolbar-5 .x-button-normal{
    background-color:#4D3462;
    border:0px;
}

.taskButtonToolbar {
    background-image: url("../../resources/custom_images/icons/01.png") !important;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.noteButtonToolbar{
    background-image: url("../../resources/custom_images/icons/02.png") !important;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.calcButtonToolbar{
    background-image: url("../../resources/custom_images/icons/03.png") !important;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.fileButtonToolbar{
    background-image: url("../../resources/custom_images/icons/04.png") !important;
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.bookButtonToolbar{
    background-image: url("../../resources/custom_images/icons/05.png") !important;
    background-size:60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.cameraButtonToolbar{
    background-image: url("../../resources/custom_images/icons/06.png") !important;
    background-size:60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.printButtonToolbar{
    background-image: url("../../resources/custom_images/icons/07.png") !important;
    background-size:60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.searchButtonToolbar{
    background-image: url("../../resources/custom_images/icons/08.png") !important;
    background-size:45%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}

.helpButtonToolbar{
    background-image: url("../../resources/custom_images/icons/09.png") !important;
    background-size:40%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
}
.widgetTitle{
    font-family: openSansExtraBold;
    color:#4D3462;
}

.announcementCarousel{
    margin-left:13px;
    margin-top:2%;
    width:50%;
    float:left;
}

.announcementImage{
    width:95%;
    margin-top:5%;
}


.widgetText{
    font-size:15px;
}

.patientListPicture-F{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width:45px;
    height:45px;
}

.patientListPicture-M{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width:45px;
    height:45px;
}
.patientListPicture-transgenderM{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width:45px;
    height:45px;
}
.patientListPicture-transgenderF{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width:45px;
    height:45px;
}

/*.patientListPicture-transgender{
    float: left;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    position: relative;
    overflow: hidden;
    width:40px;
    height:40px;
}*/

.patientListImage-F{
    width:100%;
    height:100%;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.patientListImage-M{
    width:100%;
    height:100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; 
}

.patientListImage-transgenderM{
    width:100%;
    height:100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px black solid;
}

.patientListImage-transgenderF{
    width:73%;
    height:73%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; 
    border: 1px black solid;
    margin: 0 auto;
    top:15%;
    left:12%;
    position:relative;
}

.basicInfoDiv span{
    margin-bottom:50px;
}

/* Profile Page Scenario */
    .scenarioDiv{
            width:630px;
            height:180px;
            margin-top:10px;
    }

.scenarioTopDiv{
        width: 90%;
        height:40%;
        margin-left:5%;
        border-bottom: 1px solid;
}

.scenarioBottomDiv{
        width: 90%;
        height:60%;
        margin-left:5%;
}

.imageScenarioDiv{
        width:50px;
        height:50px;
        border: 1px black solid;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        overflow:hidden;
        margin-top:10px;
        position:relative;
        float:left;
}
.imageScenario{
        width:100%; 
        position:relative;
        -webkit-border-radius: 110px;
        -moz-border-radius: 110px;
        border-radius: 110px;
}
.scenarioTextName{
        width:200px;
        position:relative;
        float:left;
        margin-top:20px;
        margin-left:10px;
}
.scenarioTextDate{
        width:130px;
        position:relative;
        float:left;
        margin-top:20px;
        margin-left:10px;
}
.scenarioTextStudLvl{
        width:130px;
        position:relative;
        float:left;
        margin-top:20px;
        margin-left:10px;
}

.scenarioTextMainObj{
        width:220px;
        position:relative;
        margin-top:20px;
        margin-left:10px;
}

.scenarioTextSpecQuest{
        width:200px;
        position:relative;
        margin-top:20px;
        margin-left:10px;
}

.scenarioBottomLeftDiv{
        float:left;
        width: 270px;
}

.scenarioBottomRightDiv{
        margin-top:20px;
        float:left;
        width: 280px;
}

.headerIcon{
    background-image: url("../../resources/custom_images/icons/edit.png") !important;
    float:right;
    height:25px;
    width:30px;
    background-size:100%;
    background-repeat: no-repeat;
    margin-top:2px;
}

/*------Checkboxes-------*/
.x-input-el:checked + .x-field-mask::after{
    color:#4D3462 !important;
}

.x-form-label{
    background-color:white !important;
}
.x-toolbar-dark{
    background-color:#4D3462 !important;
    border:0px;
    background-image: none !important;
}

/*--- Patient Finder list ---*/
.x-list .x-list-item-tpl .x-list-disclosure{
    top:12px !important;
}

.x-list-item .x-list-disclosure {
    overflow: hidden;
    -webkit-mask: 0 0 url('../../touch/resources/themes/images/default/pictos/add_black.png') no-repeat;
    -webkit-mask-size: 2.2em;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(#4D3462,#392848);
    background-image: linear-gradient(#4D3462,#392848);
    position: absolute;
    height: 2.2em;
    bottom: 30%;
}

.x-list .x-list-disclosure:before {
  content: '' !important; 
  font-family: '' !important; 

}

#ext-patientlist-1 .x-list-item .x-list-disclosure {
    overflow: hidden;
    -webkit-mask: 0 0 url('../../touch/resources/themes/images/default/pictos/delete_black1.png') no-repeat;
    -webkit-mask-size: 2.2em;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(#4D3462,#392848);
    background-image: linear-gradient(#4D3462,#392848);
    position: absolute;
    height: 2.2em;
    bottom: 30%;
}

.x-layout-fit-item{
    z-index: 0;
}

.x-spinner .x-input-el, .x-field-select .x-input-el {
  -webkit-text-fill-color: #000;
  -webkit-opacity: 1;
  border-width: thin;
  border-color: rgb(47, 32, 60);
  overflow: hidden;
  /* border-style: solid; */
}

.datepick{
    margin-top: 1%;
}
.IOPageOutputChart{
    //visibility: hidden;
}